<% if current_user %>
<p id="notice"><%= notice %></p>

<div class="columns">
<p>
  <strong>User:</strong>
  <%= @profile.user.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @profile.tags %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>
<% end %>
