
<!-- Page content -->
<div class="main">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<header>
  <h1><b>MY BLOG</b></h1>
  <p>Welcome to the blog of <strong class="w3-tag w3-black w3-margin-bottom" id = usr><%= current_user.username %></strong>.</p>
</header>
<body class="w3-light-grey">
<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="assets/woods.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <% @posts.each do |post| %>
      <h3><b><%= post.title %></b></h3>
      <span class="w3-opacity"><%= post.posting_date%></span>
    </div>

    <div class="w3-container">
      <p id="post-p"><%= post.description %>
      <% end %>
      </p>
        <button id="button"><%= link_to 'Add Text', new_post_path(user_id: @user) %></button><br><br>
    </div>
  </div>
  <hr>

<!-- END BLOG ENTRIES -->
</div>

<!-- Profile menu -->
<div class="w3-col l4">
  <!-- Description Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="assets/blank-profile-picture-973460_640.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name is <%= current_user.username %> </b></h4>
      <p><% @profiles.each do |profile| %>
        <%= profile.description %>
        <% end %>
      </p><br>
      <button id="button"><%= link_to 'Add Text', new_profile_path(user_id: @user) %></button><br><br>
    </div>
  </div><hr>

  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p>
      <% @profiles.each do |profile| %>
      <span class="w3-tag w3-black w3-margin-bottom"><%= profile.tags %></span>
      <% end %>
    </p>
    </div>
  </div>

<!-- END Profile Menu -->
</div>

<!-- END GRID -->
</div><br>
</body>
</div>
