
<!-- Page content -->
<div class="main">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<header>
  <h1><b>MY BLOG</b></h1>
  <p>Welcome to the blog of <strong class="w3-tag w3-black w3-margin-bottom" id = usr><%= current_user.username %></strong>.</p>
</header>
<body class="w3-light-grey">
<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="assets/woods.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>TITLE HEADING</b></h3>
      <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p></p>
        <button id="button">Add Text</button><br><br>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="assets/bridge.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>BLOG ENTRY</b></h3>
      <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p></p>
      <button id="button">Add Text</button><br><br>
      <div class="w3-row">
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="assets/avatar_g.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name is <%= current_user.username %> </b></h4>
      <p>
        <% Profile.all.each do |profile| %>
        <%= profile.description %>
        <% end %>
      </p>
      <button id="button"><%= link_to 'Add Text', new_profile_path(user_id: @user) %></button><br><br>
    </div>
  </div><hr>

  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p>
      <% Profile.all.each do |profile| %>
      <span class="w3-tag w3-black w3-margin-bottom"><%= profile.tags %></span>
      <% end %>
    </p>
    </div>
  </div>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>
</body>
</div>
