<p>
  <%= "Dear #{t('app_title')}," %>
</p>
<p>
  <%= "Could you get in touch with me please?" %>
</p>
<dl>
  <dt>Email:</dt>
  <dd>
    <%= @email %>
  </dd>
  <dt>Name:</dt>
  <dd>
    <%= @name %>
  </dd>
  <dt>Subject:</dt>
  <dd>
    <%= @subject %>
  </dd>
</dl>
<p>
  <%= @enquieries %>
</p>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
